/* General Styles */
.nav-container {
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: white;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1rem;
}

.nav {
  width: 100%;
  display: none;
  height: 0;
}

.nav.open {
  display: block;
  height: calc(100vh - 3rem);
}

.hamburgur {
  border: 2px solid black;
  color: black;
  font-size: 1.5em;
  background-color: white;
  margin-right: 1rem;
}

.navbar-brand {
  height: 3rem;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  cursor: pointer;
}

.navbar-header,
.navbar-cta,
.navbar-actions {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.navbar-brand img {
  object-fit: contain;
  height: 100%;
}

.navbar .btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  scale: 1;
  transition: all 0.2s ease;
}

.navbar .btn:hover {
  scale: 1.2;
}

/* Menu Styles */
.nav-list {
  list-style: none;
  padding: 2rem 0.5rem;
  flex-direction: column;
  overflow: auto;
  transition: all 0.3s ease;
  gap: 1rem;
  display: none;
}
.nav-list.open {
  display: flex;
}
.nav-list.wrap {
  flex-wrap: wrap;
}

.nav-item a {
  text-decoration: none;
  color: var(--text-primary-color);
  font-weight: normal;
  transition: color 0.3s;
  font-family: var(--font-family);
  /* padding: 0.35rem; */
  white-space: nowrap;
}

.nav-item.active a {
  font-weight: bold;
}

.nav-item.dropdown {
  position: relative;
}

.dropdown-toggle {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  color: inherit;
  padding: 0;
  text-align: left;
}
.dropdown-toggle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dropdown-toggle:focus {
  outline: none;
}

.dropdown-menu {
  position: absolute;
  top: 110%; /* Adjust for upward positioning */
  border-radius: 0.5rem;

  background-color: #fff;
  list-style: none;
  padding: 0.5rem 1rem;
  width: min(350px, 100vw);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 10;
}
.dropdown-item p {
  text-wrap: auto;
}
.nav-list {
  overflow: visible; /* Ensure no scrollbars are added */
  /* padding: 0; Prevent extra space issues */
}

.navbar-container {
  overflow: visible;
  position: relative;
}
.dropdown-menu .dropdown-item a {
  color: #333;
  text-decoration: none;
}

.nav-item.dropdown .dropdown-toggle.open + .dropdown-menu {
  display: block;
}
/* FOR DESKTOP */
@media (min-width: 1080px) {
  .navbar {
    padding: 1rem;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .nav,
  .nav.open {
    display: block;
    height: min-content;
    width: auto;
    margin-inline: 1rem;
  }
  .hamburgur {
    display: none;
  }
}
